body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("back2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  display: table;
  margin: auto;
}

.form-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.form-container form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left:auto;margin-right:auto;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00608D;
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.topnav {
  overflow: hidden;
  background-color: #00608D;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 10px;
}
