body, html {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

.search-container {
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.search-form-group{
  display: inline-flex;
}

.search-wrapper {
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 10vw;
}

.search-input{
  width: 26vw;
  height: 4rem;
}

.search-button{
  height: 4rem;
  width: 4rem;
  font-size: 25px;
  color: #EC5252;
}

.search-container h3 {
  color:  #ffffff;
}

.search-container form {
  display: flex;
  flex-flow: column;
  align-items: center;
}


.category-btn{
  height: 50px;
  width: 200px;
  background: linear-gradient(220deg,#EC5252 -30%,#6E1A52 70%);
  border: 1px solid #6E1A52;
  margin: 40px;
  font-size: 1.5rem;
  border-radius: 3px;
}

.category-btn:hover{
  background: linear-gradient(220deg,#bd4141 -30%,#411030 70%);
}

.topnav h2{
    margin-top: 16px;
  }

.topnav {
  overflow: hidden;
  background: linear-gradient(220deg,#EC5252 -30%,#6E1A52 70%);
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
} 

.category-block{
  background: linear-gradient(#29303B,#29303B,#29303B);
  color: #fff;
  width: 100%;
}

.category-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 50px;
}




