<!DOCTYPE html>
<html>

<head>
  <title>Recommendations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/recommendation.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  {% if match_courses_data %}
  <br><br>
  <h3 style="text-align:center;">ONLINE COURSES FOR {{title}}</h3>
  <hr>
  <h4 style="text-align:center;"><b>Courses to get you started</b></h4><br>
  <div class="suggestionContainer">
    {% for course in match_courses_data %}

    <div class="card" style="background-color:#EEE">
      <div class="card-body">
        <h5 class="card-title"><b>{{course[1]}}</b></h5>
        <hr>
        <p class="card-text p-y-1">
          Domain: &nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[3]}}</b>
        </p>
        <p class="card-text p-y-1">
          Duration:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[11]}} hours </b>
        </p>
        <p class="card-text p-y-1">
          Rating:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>{{course[13]}}</b>
          {% for n in range((course[13])|int) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
        </p>
        <p class="card-text p-y-1">
          Level:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-level">
            {{course[10]}}</span>
        </p>
        <p class="card-text p-y-1">
          Language: <span class="badge badge-{{course[14]}}"> {{course[14]}}</span>
        </p>
        <p class="card-text p-y-1">
          Subtitle:&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-subtitle">
            {% if match_courses_data %}
            Available
            {% else %}
            Not Available
            {% endif %}
          </span>
        </p>
        <form action="/suggestions" method="post">
          <input type="hidden" name="selected_course" value="{{course[0]|safe}}">
          <button type=" submit" class="btn btn-primary" value="Submit" style="align-content: center;">Show
            Courses</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>


  {% else %}

  <div class="form-container">
    <form action="" method="post">
      <h3 style="color:Tomato;">No data found for this course...Please try other courses</h3>
      <div class="form-group">
        <br><br>
        <input type="text" style="width:400px" class="form-control" required="true" placeholder="Enter Course Name"
          name="Name" onkeypress="return blockSpecialChar(event)">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="Submit">Show Courses</button>
      </div>
    </form>

  </div>

  <hr>
  {% endif %}



  {% if similar_courses %}
  <hr>
  <h3 style="text-align:center;">SIMILAR COURSES IN THIS CATEGORY</h3></br>

  <div class="suggestionContainer">
    {% for course in similar_courses %}
    <div class="card" style="background-color:#EEE">
      <div class="card-body">
        <h5 class="card-title"><b>{{course[1]}}</b></h5>
        <hr>
        <p class="card-text p-y-1">
          Domain: &nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[3]}}</b>
        </p>
        <p class="card-text p-y-1">
          Duration:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[11]}} hours </b>
        </p>
        <p class="card-text p-y-1">
          Rating:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>{{course[13]}}</b>
          {% for n in range((course[13])|int) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
        </p>
        <p class="card-text p-y-1">
          Level:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-level">
            {{course[10]}}</span>
        </p>
        <p class="card-text p-y-1">
          Language: <span class="badge badge-{{course[14]}}"> {{course[14]}}</span>
        </p>
        <p class="card-text p-y-1">
          Subtitle:&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-subtitle">
            {% if match_courses_data %}
            Available
            {% else %}
            Not Available
            {% endif %}
          </span>
        </p>
        <form action="/suggestions" method="post">
          <input type="hidden" name="selected_course" value="{{course[0]|safe}}">
          <button type=" submit" class="btn btn-primary" value="Submit" style="align-content: center;">Show
            Courses</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <br><br>
  <hr>

  {% endif %}


  {% if similar_courses_other_language %}
  <hr>
  <h3 style="text-align:center;">SIMILAR COURSES IN OTHER LANGUAGE</h3></br>

  <div class="suggestionContainer">
    {% for course in similar_courses_other_language %}

    <div class="card" style="background-color: #EEE">
      <div class="card-body">
        <h5 class="card-title"><b>{{course[1]}}</b></h5>
        <hr>
        <p class="card-text p-y-1">
          Domain: &nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[3]}}</b>
        </p>
        <p class="card-text p-y-1">
          Duration:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[11]}} hours </b>
        </p>
        <p class="card-text p-y-1">
          Rating:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>{{course[13]}}</b>
          {% for n in range((course[13])|int) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
        </p>
        <p class="card-text p-y-1">
          Level:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-level">
            {{course[10]}}</span>
        </p>
        <p class="card-text p-y-1">
          Language: <span class="badge badge-{{course[14]}}"> {{course[14]}}</span>
        </p>
        <p class="card-text p-y-1">
          Subtitle:&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-subtitle">
            {% if match_courses_data %}
            Available
            {% else %}
            Not Available
            {% endif %}
          </span>
        </p>
        <form action="/suggestions" method="post">
          <input type="hidden" name="selected_course" value="{{course[0]|safe}}">
          <button type=" submit" class="btn btn-primary" value="Submit" style="align-content: center;">Show
            Courses</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <br><br>

  {% endif %}

  {% if similar_courses_other_levels %}
  <hr>
  <h3 style="text-align:center;">SIMILAR COURSES IN OTHER LEVELS</h3></br>

  <div class="suggestionContainer">
    {% for course in similar_courses_other_levels %}

    <div class="card" style="background-color: #EEE">
      <div class="card-body">
        <h5 class="card-title"><b>{{course[1]}}</b></h5>
        <hr>
        <p class="card-text p-y-1">
          Domain: &nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[3]}}</b>
        </p>
        <p class="card-text p-y-1">
          Duration:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{course[11]}} hours </b>
        </p>
        <p class="card-text p-y-1">
          Rating:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>{{course[13]}}</b>
          {% for n in range((course[13])|int) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
        </p>
        <p class="card-text p-y-1">
          Level:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-level">
            {{course[10]}}</span>
        </p>
        <p class="card-text p-y-1">
          Language: <span class="badge badge-{{course[14]}}"> {{course[14]}}</span>
        </p>
        <p class="card-text p-y-1">
          Subtitle:&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge badge-subtitle">
            {% if match_courses_data %}
            Available
            {% else %}
            Not Available
            {% endif %}
          </span>
        </p>
        <form action="/suggestions" method="post">
          <input type="hidden" name="selected_course" value="{{course[0]|safe}}">
          <button type=" submit" class="btn btn-primary" value="Submit" style="align-content: center;">Show
            Courses</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <br><br>

  {% endif %}


  {% if categories %}

  <h3 style="text-align:center;">OTHER SIMILAR CATEGORIES RELATED TO {{title}} </h3></br>

  <div class="container">
    <div class="row hidden-md-up">
      {% for category in categories %}

      <div class="col-md-6" style="padding-bottom: 1rem;">
        <div class="card" style="background-color:silver; align-items: center;">
          <div class="card-body">
            <h5 class="card-title" style="text-align:center;">{{category}}</h5>

            <form action="/category" method="post">
              <input type="hidden" name="Category" value="{{category|safe}}">
              <button type=" submit" class="btn btn-primary" value="Submit" style="align-content: center;">Show
                Courses</button>
            </form>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br><br>


  {% endif %}

  <hr>
  <button class="block" onclick="location.href='/';">Search Another Courses</button>
  <hr>

</body>

</html>