<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/mainpage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
        function blockSpecialChar(e) {
            var k;
            document.all ? k = e.keyCode : k = e.which;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57) || (k == 35) || (k == 43));
        }
    </script>
</head>

<body>
    <div class="main-container">
        <div class="topnav">
            <h2>Online Courses Recommendtion Service</h2>
        </div>

        <div class="form-container">
            <div class="search-container">
                <div class="search-wrapper">
                    <h3>Welcome, You can serch for online courses or select course category from below</h3>
                    <form action="" method="post">
                        <div class="form-group searchbar-wrapper">
                            <br><br>
                            <input type="text" class="form-control search-input" required="true"
                                placeholder="Enter Course Name" name="Name" onkeypress="return blockSpecialChar(event)">
                            <button type="submit" class="search-button" value="Submit">
                                <i class="fa fa-search" style="padding-bottom: 8px;"></i>
                            </button>
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

</html>