<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/mainpage.css') }}">

    <script type="text/javascript">
        function blockSpecialChar(e) {
            var k;
            document.all ? k = e.keyCode : k = e.which;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57) || (k == 35) || (k == 43));
        }
    </script>
</head>

<body>
    <div class="form-container">
        <form action="" method="post">
            <h2>Welcome to Online Courses Recommendtion Service</h2>
            <div class="form-group">
                <br><br>
                <input type="text" style="width:400px" class="form-control" required="true"
                    placeholder="Enter Course Name" name="Name" onkeypress="return blockSpecialChar(event)">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" value="Submit">Show Courses</button>
            </div>
        </form>

    </div>

</body>

</html>