<!DOCTYPE html>
<html>

<head>
    <title>Recommendations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/recommendation.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="topnav">
        <h4>Online Courses Recommendtion Service</h4>
    </div>

    {% if match_courses_data %}
    <br>
    <h3 style="text-align:center;"><b>RECOMMENDED ONLINE COURSES BASED ON YOUR SELECTION</b>
    </h3>
    <br>
    <h5 class="big_block"><b>Courses based on Language, Levels and Ratings...</b></h5>
    <h6><span class="metadata">These courses are visible because you select : Language :
            <b>{{match_courses_data[0][14]}}
            </b>, Level: <b>{{match_courses_data[0][10]}}</b></span></h6></br>

    <div class="suggestionContainer">
        {% for course in match_courses_data %}

        <div class="card recommendationCard">
            <div class="card-body">
                <h6 class="card-title"><b>{{course[1]}}</b></h6>
                <hr>
                <table class="noBoderTable">
                    <tr>
                        <th>Domain</th>
                        <td>{{course[3]}}</td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>{{'%0.2f' % course[11]|float}} hours </td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>{{course[13]}}
                            {% for n in range((course[13])|int) %}
                            <span class="fa fa-star checked"></span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td><span class="badge badge-level">
                                {{course[10]}}</span></td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td><span class="badge badge-{{course[14]}}"> {{course[14]}}</span></td>
                    </tr>
                    <tr>
                        <th>Subtitle</th>
                        <td><span>
                                {% if course[15].lower() == 'true' %}
                                Available
                                {% else %}
                                Un-available
                                {% endif %}
                            </span></td>
                    </tr>
                </table>
                </p>
                <form action="/suggestions" method="post">
                    <input type="hidden" name="title" value="{{course[1]|safe}}">
                    <input type="hidden" name="category" value="{{course[3]|safe}}">
                    <input type="hidden" name="level" value="{{course[10]|safe}}">
                    <input type="hidden" name="rating" value="{{course[13]|safe}}">
                    <input type="hidden" name="language" value="{{course[14]|safe}}">
                    <input type="hidden" name="is_subtitle" value="{{course[15]|safe}}">
                    <button type=" submit" class="btn btn-primary" value="Submit">Show
                        Courses</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>


    {% else %}

    <div class="form-container">
        <form action="" method="post">
            <h3 style="color:Tomato;">No data found for this course...Please try other courses</h3>
            <div class="form-group">
                <br><br>
                <input type="text" style="width:400px" class="form-control" required="true"
                    placeholder="Enter Course Name" name="Name" onkeypress="return blockSpecialChar(event)">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" value="Submit">Show Courses</button>
            </div>
        </form>

    </div>

    <hr>
    {% endif %}



    {% if similar_courses_other_language %}
    <hr>
    <h4 class="big_block"><b>SIMILAR COURSES IN OTHER LANGUAGE</b></h4>
    <h6><span class="metadata">These courses are similar with Language other than
            <b>{{match_courses_data[0][14]}}</b></span></h6>
    <br>
    <div class="suggestionContainer">
        {% for course in similar_courses_other_language %}

        <div class="card recommendationCard">
            <div class="card-body">
                <h6 class="card-title"><b>{{course[1]}}</b></h6>
                <hr>
                <table class="noBoderTable">
                    <tr>
                        <th>Domain</th>
                        <td>{{course[3]}}</td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>{{'%0.2f' % course[11]|float}} hours </td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>{{course[13]}}
                            {% for n in range((course[13])|int) %}
                            <span class="fa fa-star checked"></span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td><span class="badge badge-level">
                                {{course[10]}}</span></td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td><span class="badge badge-{{course[14]}}"> {{course[14]}}</span></td>
                    </tr>
                    <tr>
                        <th>Subtitle</th>
                        <td><span>
                                {% if course[15].lower() == 'true' %}
                                Available
                                {% else %}
                                Un-available
                                {% endif %}
                            </span></td>
                    </tr>
                </table>
                </p>
                <form action="/suggestions" method="post">
                    <input type="hidden" name="title" value="{{course[1]|safe}}">
                    <input type="hidden" name="category" value="{{course[3]|safe}}">
                    <input type="hidden" name="level" value="{{course[10]|safe}}">
                    <input type="hidden" name="rating" value="{{course[13]|safe}}">
                    <input type="hidden" name="language" value="{{course[14]|safe}}">
                    <input type="hidden" name="is_subtitle" value="{{course[15]|safe}}">
                    <button type=" submit" class="btn btn-primary" value="Submit">Show
                        Courses</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endif %}



    {% if similar_courses_other_levels %}
    <hr>
    <h4 class="big_block"><b>SIMILAR COURSES IN OTHER LEVELS</b></h4>
    <h6><span class="metadata">These courses are similar with Level other than
            <b>{{match_courses_data[0][10]}}</b></span></h6>
    <br>
    <div class="suggestionContainer">
        {% for course in similar_courses_other_levels %}

        <div class="card recommendationCard">
            <div class="card-body">
                <h6 class="card-title"><b>{{course[1]}}</b></h6>
                <hr>
                <table class="noBoderTable">
                    <tr>
                        <th>Domain</th>
                        <td>{{course[3]}}</td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>{{'%0.2f' % course[11]|float}} hours </td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>{{course[13]}}
                            {% for n in range((course[13])|int) %}
                            <span class="fa fa-star checked"></span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td><span class="badge badge-level">
                                {{course[10]}}</span></td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td><span class="badge badge-{{course[14]}}"> {{course[14]}}</span></td>
                    </tr>
                    <tr>
                        <th>Subtitle</th>
                        <td><span>
                                {% if course[15].lower() == 'true' %}
                                Available
                                {% else %}
                                Un-available
                                {% endif %}
                            </span></td>
                    </tr>
                </table>
                </p>
                <form action="/suggestions" method="post">
                    <input type="hidden" name="title" value="{{course[1]|safe}}">
                    <input type="hidden" name="category" value="{{course[3]|safe}}">
                    <input type="hidden" name="level" value="{{course[10]|safe}}">
                    <input type="hidden" name="rating" value="{{course[13]|safe}}">
                    <input type="hidden" name="language" value="{{course[14]|safe}}">
                    <input type="hidden" name="is_subtitle" value="{{course[15]|safe}}">
                    <button type=" submit" class="btn btn-primary" value="Submit">Show
                        Courses</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endif %}


    <hr>
    <button class="block" onclick="location.href='/';">Search Another Courses</button>
    <hr>

</body>

</html>